h1{
    color:rgb(245, 72, 147);
    font-size:40px;
}
h2{
    color:rgb(206, 219, 22);
}
ul{
    list-style-position: inside;

}
p{
    color:white;
}
body{
    background-color: black;
}
li{
    color:white;
}
h3{
   
    color:rgb(236, 252, 252);
}
